extends ../layout

block content
    div.w-400.mw-full.mid
        div.card.p-0
            div.px-card.py-10.border-bottom
                h2.card-title.font-size-18.m-0 Login
            div.content
                form.loginForm(onsubmit='return false')
                    div.form-group.input-group
                        div.input-group-prepend
                            span.input-group-text
                                i.fa.fa-envelope-o(aria-hidden=true)
                        input.form-control(name='email', type='email', placeholder='Your email', required='required')
                    div.form-group.input-group
                        div.input-group-prepend
                            span.input-group-text
                                i.fa.fa-key(aria-hidden=true)
                        input.form-control(name='password', type='password', placeholder='Your password', required='required')
                    div.form-group.input-group
                        div.input-group-prepend
                            span.input-group-text
                                i.fa.fa-lock(aria-hidden=true)
                        input.form-control(
                            name='captcha', type='text',
                            placeholder='Captcha', required='required',
                            oninput='this.value=this.value.substr(0,4).replace(/[\u4e00-\u9fa5]/,"")'
                        )
                        div.input-group-prepend
                            img.captcha(src='/api/captcha', height=30)
                    button.btn.btn-primary.btn-block(id='doLogin') login
    script(type="text/javascript", src='/js/login.js')